/* product */
.product {
    overflow: auto;
}

.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}

/* product-list */
.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
}

/* cart */
.cart ul {
  margin-bottom: 0.7em;
}

.cart-item {
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__name {
  margin-left: 0.5em;
  vertical-align: middle;
}

.cart-item__price {
  font-weight: bold;
}

.cart__total {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
}
